[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
pytest = "*"
pillow = "*"
keras = "*"
tensorflow = "*"
# h5py = "*"
# coremltools = "*"
# tensorflow-gpu = "2.0.0-beta1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
